### Obtain List of Categorical/Oridnal Data Column Names from Excel Spread Sheet

In [47]:
import pandas as pd
import numpy as np

In [2]:

Variable_df=pd.read_excel('Variable_Analysis.xlsx')
Variable_df.head()

,Column Number,Name,Individual_dataType,Team_dataType,Missing Value?,Replace Missing Value with?,Status-Huimin,Notes-Huimin
0,1,ID,NaN,NaN,NaN,NaN,NaN,NaN
1,2,MSSubClass,categorical,NaN,NaN,NaN,NaN,NaN
2,3,MSZoning,categorical,NaN,NaN,NaN,NaN,NaN
3,4,LotFrontage,numerical,NaN,Yes,NaN,not sure,na is not missing. It means not connected
4,5,LotArea,numerical,NaN,NaN,NaN,NaN,NaN

In [3]:
List_colName_Numerical=Variable_df[Variable_df['Individual_dataType']=='numerical']['Name'].tolist()
len(List_colName_Numerical)

33

In [4]:
List_colName_Ordinal=Variable_df[Variable_df['Individual_dataType']=='ordinal']['Name'].tolist()
len(List_colName_Ordinal)

9

In [5]:
List_colName_Categorical=Variable_df[Variable_df['Individual_dataType']=='categorical']['Name'].tolist()
len(List_colName_Categorical)

36

In [6]:
import pandas as pd

In [7]:
trainData=pd.read_csv('train.csv')

In [8]:
trainData.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
trainData.shape

(1460, 81)

# Taking care of Missing Data

In [10]:
#print columns with missing value (nan)
trainData.columns[trainData.isnull().any()]

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [11]:
#Create copy of the Train data
trainData_copy1=trainData.copy()

In [12]:
# Create Function---drop missing rows with missing NA
def drop_missing_row (dataFrame, List_of_ColumnName):
    dataFrame=dataFrame.dropna(subset=List_of_ColumnName)
    return dataFrame

In [13]:
# Create Function---Change missing values to 'NA'
def fill_NA_missing_value (dataFrame, list_of_ColumnName):
    dataFrame[list_of_ColumnName]=dataFrame[list_of_ColumnName].fillna(value='None')
    return dataFrame

In [14]:
# Create Function---Change missing values to '0'
def fill_0_missing_value (dataFrame, list_of_ColumnName):
    dataFrame[list_of_ColumnName]=dataFrame[list_of_ColumnName].fillna(value=0)
    return dataFrame

In [15]:
#drop rows with missing value based on column
trainData_copy1=drop_missing_row(trainData_copy1, ['Electrical'])

In [16]:
#Fill missing values with NA
trainData_copy1=fill_NA_missing_value(trainData_copy1, List_colName_Categorical+List_colName_Ordinal)

In [17]:
#Fill missing values with 0
trainData_copy1=fill_0_missing_value(trainData_copy1, List_colName_Numerical)

In [18]:
trainData_copy1.shape

(1459, 81)

In [19]:
#Check if there are any missing values
trainData_copy1.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterQual        0
ExterCond        0
Foundation       0
                ..
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Fireplaces       0
FireplaceQu      0
GarageType       0
GarageYrBlt      0
GarageFinish     0
GarageCars       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
PoolQC           0
Fence            0
MiscFeature      0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 81, dtype: int64

# Data Cleaning

### OneHotEncoder for Categorical Data

In [20]:
def OneHotEncode_categorical_data (dataFrame, List_colName_Categorical):
    data=dataFrame.copy()
    for column_name in List_colName_Categorical:
        dummied_data=pd.get_dummies(data[column_name], prefix=column_name,prefix_sep='__')
        dummied_data=dummied_data.drop(dummied_data.columns[0], axis=1)#drop 1st column
        data=pd.concat([data.drop(column_name,axis=1), dummied_data ], axis=1)
    return data

In [21]:
trainData_copy1=OneHotEncode_categorical_data(trainData_copy1, List_colName_Categorical)

In [22]:
trainData_copy1.columns

Index(['Id', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'ExterQual', 'ExterCond',
       ...
       'SaleType__ConLI', 'SaleType__ConLw', 'SaleType__New', 'SaleType__Oth',
       'SaleType__WD', 'SaleCondition__AdjLand', 'SaleCondition__Alloca',
       'SaleCondition__Family', 'SaleCondition__Normal',
       'SaleCondition__Partial'],
      dtype='object', length=251)

### Ordinal Encoder for Ordinal Data

In [24]:
def process_ordinal_columns (dataFrame, List_colName_Ordinal):
    data=dataFrame.copy()
    scale_mapper={
        'None': 0,
        'Po':1, 
        'Fa':2,         
        'TA':3,
        'Gd':4,    
        'Ex':5 }
    for column_name in List_colName_Ordinal:
        if data[column_name].dtype in ['int32', 'int64']:
            continue
        else:
            data[column_name]=data[column_name].replace(scale_mapper)
    return data

In [25]:
trainData_copy1=process_ordinal_columns(trainData_copy1, List_colName_Ordinal)
trainData_copy1.head()

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,...,SaleType__ConLI,SaleType__ConLw,SaleType__New,SaleType__Oth,SaleType__WD,SaleCondition__AdjLand,SaleCondition__Alloca,SaleCondition__Family,SaleCondition__Normal,SaleCondition__Partial
0,1,65.0,8450,7,5,2003,2003,196.0,4,3,...,0,0,0,0,1,0,0,0,1,0
1,2,80.0,9600,6,8,1976,1976,0.0,3,3,...,0,0,0,0,1,0,0,0,1,0
2,3,68.0,11250,7,5,2001,2002,162.0,4,3,...,0,0,0,0,1,0,0,0,1,0
3,4,60.0,9550,7,5,1915,1970,0.0,3,3,...,0,0,0,0,1,0,0,0,0,0
4,5,84.0,14260,8,5,2000,2000,350.0,4,3,...,0,0,0,0,1,0,0,0,1,0

### Process the numerical data

In [26]:
trainData_copy1[List_colName_Numerical].dtypes

LotFrontage      float64
LotArea            int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
MasVnrArea       float64
BsmtFinSF1         int64
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
TotRmsAbvGrd       int64
Fireplaces         int64
GarageYrBlt      float64
GarageCars         int64
GarageArea         int64
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
MiscVal            int64
SalePrice          int64
dtype: object

## Fit Data to the Multi-Linear Regression Model

In [27]:
X_train=trainData_copy1.drop(columns='SalePrice')
X_train.head()

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,...,SaleType__ConLI,SaleType__ConLw,SaleType__New,SaleType__Oth,SaleType__WD,SaleCondition__AdjLand,SaleCondition__Alloca,SaleCondition__Family,SaleCondition__Normal,SaleCondition__Partial
0,1,65.0,8450,7,5,2003,2003,196.0,4,3,...,0,0,0,0,1,0,0,0,1,0
1,2,80.0,9600,6,8,1976,1976,0.0,3,3,...,0,0,0,0,1,0,0,0,1,0
2,3,68.0,11250,7,5,2001,2002,162.0,4,3,...,0,0,0,0,1,0,0,0,1,0
3,4,60.0,9550,7,5,1915,1970,0.0,3,3,...,0,0,0,0,1,0,0,0,0,0
4,5,84.0,14260,8,5,2000,2000,350.0,4,3,...,0,0,0,0,1,0,0,0,1,0

In [49]:
y_train=trainData_copy1['SalePrice']
y_train_log=trainData_copy1['SalePrice'].apply(lambda x: np.log(x))

In [51]:
from sklearn.linear_model import LinearRegression 

ols = LinearRegression()
ols.fit(X_train, y_train_log)
print("R^2 for train set: %f" %ols.score(X_train, y_train_log))
print("Intercept: %f" %ols.intercept_)

R^2 for train set: 0.943423
Intercept: 8.332762